/* Fuente apta para personas con dislexia */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('Fonts/OpenDyslexicAlta-Regular.otf') format('truetype'); 
  }

  body {
    font-family: 'OpenDyslexic', sans-serif;
  }
  /* label */
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

/* Diseño general de el encriptador */
.cuerpoDePagina {
    display: flex;
    background-color: #f3f5fc;
}

.webLogo {
    position: relative;
    left: 40px;
    top: 40px;
    width: 31.09px;
    height: 48px;
    filter: drop-shadow(5px 3px 2px #808080);
}

/* Input de entrada de texto */
.seccionDeEntrada,
.seccionDeSalida {
    text-align: center;
    margin: 100px 0 50px 50px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.seccionDeEntrada {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

#entradaDeTexto::-webkit-input-placeholder {
    color: #0A3871;
}

#entradaDeTexto {
    flex-basis: 100%;
    font-size: 32px;
    font-family: 'OpenDyslexic', sans-serif;
    background-color: transparent;
    color: #0A3871;
    border: none;
    resize: none;
    border-radius: 15px;
    box-shadow: 0px 1px 4px gray;
}

.botoneraEntrada {
    display: flex;
    flex-direction: column;
    text-align: left;
   
}

#textoImportante {
    color: #495057;
    font-size: 12px;
}

.importantIcon {
    width: 16px;
    height: 16px;
}

.cajaDeBotones {
    text-align: center;
    margin-top: 24px;
    width: 680px;
    height: 67px;
}

.botonEncriptar {
    margin-right: 12px;
    background-color: #0A3871;
    color: #FFF;
    border: none;
    padding: 24px;
    border-radius: 24px;
    width: 300px;
    transition: 1s all;
    cursor: pointer;
}

.botonEncriptar:hover {
    background-color: #072B61;
    transform: scale(1.1);
    font-size: 14px;
}

.botonDesencriptar {
    margin-right: 12px;
    background-color: white;
    color: #0a3871;
    border: none;
    padding: 24px;
    border-radius: 24px;
    width: 300px;
    border: 1px #0A3871 solid;
    transition: 1s all;
    cursor: pointer;
}

.botonDesencriptar:hover {
    background-color: #EFF1FA;
    transform: scale(1.1);
    font-size: 14px;
}

/* Salida de texto, sin Input.  */
.seccionDeSalida {
    margin-top: 40px;
    margin-right: 40px;
    height: 550px;
    background-color: #ffffff;
    width: 30%;
    border-radius: 32px;
    box-shadow: 0px 1px 4px gray;
}

.imagenSalidaDeTexto h2 {
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}

.imagenSalidaDeTexto p {
    font-size: 16px;
    color: #495057;
}
.imageInputVacio {
    width: 100%;
}

/* Salida de texto con Input */
.salidaDeTextoCaja {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.salidaDeTexto {
    font-size: 32px;
    font-family: 'OpenDyslexic', sans-serif;
    color: #495057;
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.botonCopiarTexto {
    margin-right: 12px;
    background-color: white;
    color: #0a3871;
    border: none;
    padding: 24px;
    border-radius: 24px;
    width: 300px;
    border: 1px #0A3871 solid;
    transition: 1s all;
    cursor: pointer;
}

.botonCopiarTexto:hover {
    background-color: #EFF1FA;
    transform: scale(1.1);
    font-size: 14px;
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #f3f5fc;
}