.cuerpoDePagina {
    background-color: #f3f5fc;
    display: flex;
}

.webLogo {
    position: relative;
    left: 40px;
    top: 40px;
    width: 31.09px;
    height: 48px;
}

.seccionDeEntrada,
.seccionDeSalida {
    text-align: center;
    margin: 100px 0 50px 50px;
    padding: 30px 20px;
    box-sizing: border-box;


}

#entradaDeTexto::-webkit-input-placeholder {
    color: #0A3871;
}


#entradaDeTexto {
    flex-basis: 100%;
    font-size: 32px;
    background-color: transparent;
    color: #0A3871;
    border: none;
    resize: none;
}

.seccionDeEntrada {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 60%;

}

.botoneraEntrada {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.botoneraEntrada p {
    color: #495057;
    font-size: 12px;

}

.importantIcon {
    width: 16px;
    height: 16px;
}

.cajaDeBotones {
    text-align: center;
    margin-top: 24px;
    width: 680px;
    height: 67px;
}

.encrypt_button {
    margin-right: 12px;
    background-color: #0A3871;
    color: #FFF;
    border: none;
    padding: 24px;
    border-radius: 24px;
    width: 300px;
}

.decrypt_button {
    margin-right: 12px;
    background-color: #d8dfe8;
    color: #0a3871;
    border: none;
    padding: 24px;
    border-radius: 24px;
    width: 300px;
    border: 1px #0A3871 solid;

}


.seccionDeSalida {
    margin-top: 40px;
    margin-right: 40px;
    height: 550px;
    background-color: #ffffff;
    width: 30%;
    border-radius: 32px;
}

.imageInputVacio {
    width: 100%;

}

.ImagenSalidaDeTexto h2{
    font-weight: bold;
    font-size: 24px;
    margin: 10px;
}
.ImagenSalidaDeTexto p{
    font-size: 16px;
    color: #495057;
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #f3f5fc;
}